{% extends "blog/base.html" %}
{% block content %}
    <h1>Коротко об Игровике</h1>
    <p>Привет! Меня зовут Grimopop, и я — заядлый игровик. С детства я увлекаюсь видеоиграми и считаю их не только развлечением, но и искусством. Мой путь в мир игр начался с классических консолей, и с тех пор я прошел через множество игровых жанров и платформ.</p>
    
    <h2>Мои любимые жанры</h2>
    <ul>
        <li>Ролевые игры (RPG)</li>
        <li>Экшен и приключения</li>
        <li>Стратегии</li>
        <li>Инди-игры</li>
    </ul>

    <h2>Игры, которые я люблю</h2>
    <p>Некоторые из моих любимых игр включают:</p>
    <ul>
        <li><a href="https://store.steampowered.com/app/292030/The_Witcher_3_Wild_Hunt/" target="_blank">The Witcher 3: Wild Hunt</a></li>
        <li><a href="https://store.steampowered.com/app/236430/DARK_SOULS_III/" target="_blank">Dark Souls III</a></li>
        <li><a href="https://store.steampowered.com/app/288630/Hollow_Knight/" target="_blank">Hollow Knight</a></li>
        <li><a href="https://store.steampowered.com/app/413150/Stardew_Valley/" target="_blank">Stardew Valley</a></li>
        <li><a href="https://store.steampowered.com/app/504230/Celeste/" target="_blank">Celeste</a></li>
    </ul>

    <h2>Почему я веду Игровик</h2>
    <p>Я решил создать этот блог, чтобы делиться своими мыслями о играх, обсуждать последние новости индустрии и делиться советами и рекомендациями. Я надеюсь, что мой опыт и мнения будут полезны другим игрокам и помогут им открыть для себя новые увлекательные миры.</p>

    <h2>Связь со мной</h2>
    <p>Если у вас есть вопросы или вы хотите обсудить игры, не стесняйтесь связаться со мной через социальные сети или оставить комментарий под постами. Я всегда рад новым знакомствам и обсуждениям!</p>
{% endblock content %}